openapi: 3.0.3
info:
  title: IndiQR API
  version: 1.0.0
  description: |
    Plataforma de marketing por indicação com remuneração por conversão.
    Três perfis: Admin (empresa), Influenciador, Vendedor.

servers:
  - url: https://indiqr-api.lealcyber.com/api/v1
    description: Produção
  - url: http://localhost:8000/api/v1
    description: Local

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # ── Usuário ──────────────────────────────────────────────────────────────
    User:
      type: object
      required: [id, email, roles, consentiu_privacy_policy]
      properties:
        id:     { type: integer }
        email:  { type: string, format: email }
        roles:  { type: array, items: { type: string } }
        consentiu_privacy_policy:    { type: boolean }
        consentiu_privacy_policy_at: { type: string, format: date-time, nullable: true }
        privacy_policy_version:      { type: string, nullable: true }

    ConsentType:
      type: string
      enum: [privacy_policy, shop_publication, transactional_emails]
      description: |
        Tipo de consentimento:
        - `privacy_policy` — aceite da política de privacidade
        - `shop_publication` — autorização para vitrine pública (Shop)
        - `transactional_emails` — recebimento de emails transacionais

    ConsentRecord:
      type: object
      required: [type, granted, granted_at]
      properties:
        type:
          $ref: '#/components/schemas/ConsentType'
        granted:    { type: boolean }
        version:    { type: string, nullable: true }
        granted_at: { type: string, format: date-time }
        ip_address: { type: string, nullable: true }

    ConsentListResponse:
      type: object
      required: [consents]
      properties:
        consents:
          type: array
          items:
            $ref: '#/components/schemas/ConsentRecord'

    ConsentRequest:
      type: object
      required: [privacy_policy_version]
      properties:
        privacy_policy_version:
          type: string
          minLength: 1
        types:
          type: array
          items:
            $ref: '#/components/schemas/ConsentType'
          default:
            - privacy_policy
          description: "Tipos de consentimento a registrar"

    ConsentResponse:
      type: object
      required: [consentiu_privacy_policy, consentiu_privacy_policy_at, privacy_policy_version, consents]
      properties:
        consentiu_privacy_policy:    { type: boolean }
        consentiu_privacy_policy_at: { type: string, format: date-time }
        privacy_policy_version:      { type: string }
        ip_address:                  { type: string, nullable: true }
        consents:
          type: array
          items:
            $ref: '#/components/schemas/ConsentRecord'

    ConsentRevokeRequest:
      type: object
      properties:
        type:
          type: string
          enum: [privacy_policy, shop_publication, transactional_emails]
          default: privacy_policy
          description: "Qual tipo de consentimento revogar. Default: privacy_policy."

    ConsentRevokedResponse:
      type: object
      required: [type, granted, revoked_at]
      properties:
        type:
          $ref: '#/components/schemas/ConsentType'
        granted:       { type: boolean }
        revoked_at:    { type: string, format: date-time }
        previous_version:  { type: string, nullable: true }
        cascade_effects:
          type: array
          items: { type: string }
          description: |
            Ações disparadas em cascata pela revogação:
            - `shop_unpublished` — vitrine foi despublicada (quando type=shop_publication)
            - `transactional_emails_stopped` — emails transacionais desativados (quando type=transactional_emails)
            - `privacy_policy_revoked` — consentimento base LGPD revogado

    AuditLogEntry:
      type: object
      required: [id, action, usuario_id, created_at]
      properties:
        id:          { type: integer }
        action:      { type: string, enum: [consent_granted, consent_revoked] }
        usuario_id:  { type: integer }
        consent_type: { $ref: '#/components/schemas/ConsentType' }
        ip_address:  { type: string, nullable: true }
        metadata:    { type: object, nullable: true, properties: { privacy_policy_version: { type: string } } }
        created_at:  { type: string, format: date-time }

    # ── Privacy Request (LGPD Art. 18) ──────────────────────────────────────
    PrivacyRequest:
      type: object
      required: [tipo, descricao]
      properties:
        tipo:
          type: string
          enum: [acesso, correcao, exclusao, portabilidade, revogacao, reclamacao]
        descricao:
          type: string
          minLength: 10
          maxLength: 2000
        email_contato:
          type: string
          format: email
          nullable: true

    PrivacyRequestResponse:
      type: object
      required: [id, tipo, status, created_at]
      properties:
        id:         { type: integer }
        tipo:       { type: string, enum: [acesso, correcao, exclusao, portabilidade, revogacao, reclamacao] }
        status:     { type: string, enum: [aberto, em_andamento, concluido] }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    # ── Company ───────────────────────────────────────────────────────────────
    Company:
      type: object
      required: [id, name, slug, created_at]
      properties:
        id:         { type: integer }
        name:       { type: string }
        slug:       { type: string }
        created_at: { type: string, format: date-time }

    CompanyCreate:
      type: object
      required: [name, slug]
      properties:
        name: { type: string, minLength: 1 }
        slug: { type: string, minLength: 1, pattern: '^[a-z0-9-]+$' }

    Member:
      type: object
      required: [usuario_id, email, role, joined_at]
      properties:
        usuario_id: { type: integer }
        email:      { type: string, format: email }
        role:       { type: string, enum: [admin, influenciador, vendedor] }
        joined_at:  { type: string, format: date-time }

    InvitationCreate:
      type: object
      required: [email, role]
      properties:
        email: { type: string, format: email }
        role:  { type: string, enum: [influenciador, vendedor] }

    Invitation:
      type: object
      required: [id, email, role, status, created_at]
      properties:
        id:         { type: integer }
        email:      { type: string, format: email }
        role:       { type: string, enum: [influenciador, vendedor] }
        status:     { type: string, enum: [pending, accepted, revoked] }
        created_at: { type: string, format: date-time }

    InvitationPreview:
      type: object
      required: [company_name]
      properties:
        company_name: { type: string }
        role:         { type: string, enum: [influenciador, vendedor] }

    # ── Campaign ──────────────────────────────────────────────────────────────
    Campaign:
      type: object
      required: [id, name, status, remuneracao_modelo, remuneracao_valor, created_at]
      properties:
        id:                  { type: integer }
        name:                { type: string }
        company_id:          { type: integer }
        influenciador_id:    { type: integer, nullable: true }
        influenciador_email: { type: string, format: email, nullable: true }
        status:
          type: string
          enum: [aguardando_aceite, ativa, encerrada]
        remuneracao_modelo:
          type: string
          enum: [fixo, percentual]
        remuneracao_valor:   { type: number, format: float }
        desconto_pct:        { type: number, format: float, nullable: true }
        created_at:          { type: string, format: date-time }
        updated_at:          { type: string, format: date-time }

    CampaignCreate:
      type: object
      required: [name, influenciador_email, remuneracao_modelo, remuneracao_valor]
      properties:
        name:
          type: string
          minLength: 1
        influenciador_email:
          type: string
          format: email
        remuneracao_modelo:
          type: string
          enum: [fixo, percentual]
        remuneracao_valor:
          type: number
          format: float
          exclusiveMinimum: 0
        desconto_pct:
          type: number
          format: float
          nullable: true
          exclusiveMinimum: 0
          maximum: 100

    CampaignSummary:
      type: object
      required: [id, name, status, remuneracao_modelo, remuneracao_valor]
      properties:
        id:                 { type: integer }
        name:               { type: string }
        status:             { type: string, enum: [aguardando_aceite, ativa, encerrada] }
        remuneracao_modelo: { type: string, enum: [fixo, percentual] }
        remuneracao_valor:  { type: number }
        desconto_pct:       { type: number, nullable: true }

    # ── Conversion ────────────────────────────────────────────────────────────
    ConversionValidateRequest:
      type: object
      required: [qrcode_token, valor_bruto]
      properties:
        qrcode_token:
          type: string
          format: uuid
        valor_bruto:
          type: number
          format: float
          exclusiveMinimum: 0

    ConversionPreview:
      type: object
      description: Resumo mostrado ao vendedor antes da confirmação
      required: [campaign_name, influenciador_email, valor_bruto, desconto_valor, valor_final_cliente, remuneracao_valor]
      properties:
        campaign_name:       { type: string }
        influenciador_email: { type: string, format: email }
        valor_bruto:         { type: number }
        desconto_valor:      { type: number }
        valor_final_cliente: { type: number }
        remuneracao_valor:   { type: number }

    Conversion:
      type: object
      required: [id, campaign_id, influenciador_id, vendedor_id, valor_bruto, desconto_valor, remuneracao_valor, created_at]
      properties:
        id:               { type: integer }
        campaign_id:      { type: integer }
        campaign_name:    { type: string }
        influenciador_id: { type: integer }
        vendedor_id:      { type: integer }
        valor_bruto:      { type: number }
        desconto_valor:   { type: number }
        remuneracao_valor: { type: number }
        created_at:       { type: string, format: date-time }

    # ── Pagination ───────────────────────────────────────────────────────────
    PaginatedCompany:
      type: object
      required: [items, total, page, page_size, pages]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Company' }
        total:     { type: integer }
        page:      { type: integer }
        page_size: { type: integer }
        pages:     { type: integer }

    PaginatedMember:
      type: object
      required: [items, total, page, page_size, pages]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Member' }
        total:     { type: integer }
        page:      { type: integer }
        page_size: { type: integer }
        pages:     { type: integer }

    PaginatedInvitation:
      type: object
      required: [items, total, page, page_size, pages]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Invitation' }
        total:     { type: integer }
        page:      { type: integer }
        page_size: { type: integer }
        pages:     { type: integer }

    PaginatedCampaignSummary:
      type: object
      required: [items, total, page, page_size, pages]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/CampaignSummary' }
        total:     { type: integer }
        page:      { type: integer }
        page_size: { type: integer }
        pages:     { type: integer }

    PaginatedConversion:
      type: object
      required: [items, total, page, page_size, pages]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Conversion' }
        total:     { type: integer }
        page:      { type: integer }
        page_size: { type: integer }
        pages:     { type: integer }

    # ── Redemptions (Resgates) ────────────────────────────────────────────────
    RedemptionTokenCreate:
      type: object
      required: [valor, tipo]
      properties:
        valor:
          type: number
          format: float
          exclusiveMinimum: 0
        tipo:
          type: string
          enum: [reais, pontos]

    RedemptionToken:
      type: object
      required: [id, influenciador_id, valor, tipo, code, status, expires_at, created_at]
      properties:
        id:              { type: integer }
        influenciador_id: { type: integer }
        valor:           { type: number }
        tipo:            { type: string, enum: [reais, pontos] }
        code:            { type: string, minLength: 6, maxLength: 6, pattern: '^\d{6}$' }
        status:          { type: string, enum: [pendente, usado, expirado] }
        expires_at:      { type: string, format: date-time }
        created_at:      { type: string, format: date-time }

    RedemptionBalance:
      type: object
      required: [saldo_reais, saldo_pontos]
      properties:
        saldo_reais:  { type: number }
        saldo_pontos: { type: number }

    RedemptionPreview:
      type: object
      required: [influenciador_email, valor, tipo]
      properties:
        influenciador_email: { type: string, format: email }
        valor:               { type: number }
        tipo:                { type: string, enum: [reais, pontos] }

    RedemptionValidateRequest:
      type: object
      required: [code]
      properties:
        code: { type: string, minLength: 6, maxLength: 6, pattern: '^\d{6}$' }

    Redemption:
      type: object
      required: [id, resgate_token_id, influenciador_id, vendedor_id, valor, tipo, created_at]
      properties:
        id:                { type: integer }
        resgate_token_id:  { type: integer }
        influenciador_id:  { type: integer }
        vendedor_id:       { type: integer }
        valor:             { type: number }
        tipo:              { type: string, enum: [reais, pontos] }
        created_at:        { type: string, format: date-time }

    PaginatedRedemption:
      type: object
      required: [items, total, page, page_size, pages]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Redemption' }
        total:     { type: integer }
        page:      { type: integer }
        page_size: { type: integer }
        pages:     { type: integer }

    # ── Shop (Vitrine) ────────────────────────────────────────────────────────
    Shop:
      type: object
      required: [id, handle, name, company_id, created_at]
      properties:
        id:             { type: integer }
        handle:         { type: string }
        name:           { type: string }
        tagline:        { type: string, nullable: true }
        email:          { type: string, format: email, nullable: true }
        instagram_url:  { type: string, format: uri, nullable: true }
        whatsapp_url:   { type: string, format: uri, nullable: true }
        company_id:     { type: integer }
        deployed_at:    { type: string, format: date-time, nullable: true }
        deploy_url:     { type: string, format: uri, nullable: true }
        created_at:     { type: string, format: date-time }
        updated_at:     { type: string, format: date-time }

    ShopDeployRequest:
      type: object
      required: [confirmou_publicacao, privacy_policy_version]
      properties:
        confirmou_publicacao:
          type: boolean
          description: Admin declara estar ciente da exposicao publica dos dados
        privacy_policy_version:
          type: string
          minLength: 1

    ShopDeployResponse:
      type: object
      required: [handle, deploy_url, deployed_at, consent_record]
      properties:
        handle:      { type: string }
        deploy_url:  { type: string, format: uri }
        deployed_at: { type: string, format: date-time }
        consent_record:
          $ref: '#/components/schemas/ShopDeployConsent'

    ShopDeployConsent:
      type: object
      required: [consentiu_shop_publicacao, consentiu_shop_publicacao_at, privacy_policy_version]
      properties:
        consentiu_shop_publicacao:     { type: boolean }
        consentiu_shop_publicacao_at:  { type: string, format: date-time }
        privacy_policy_version:        { type: string }
        ip_address:                    { type: string, nullable: true }

    # ── Erros ─────────────────────────────────────────────────────────────────
    Error:
      type: object
      required: [detail]
      properties:
        detail: { type: string }

paths:
  # ── Health ──────────────────────────────────────────────────────────────────
  /health:
    get:
      tags: [Health]
      summary: Health check
      security: []
      responses:
        '200':
          description: API online
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:  { type: string, example: online }
                  service: { type: string, example: IndiQR API }

  # ── User ────────────────────────────────────────────────────────────────────
  /user/me:
    get:
      tags: [User]
      summary: Dados do usuário autenticado
      responses:
        '200':
          description: Usuário atual
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '401':
          description: Não autenticado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /user/me/consent:
    get:
      tags: [User]
      summary: Listar consentimentos ativos do usuário (LGPD Art. 18, IX)
      description: |
        Retorna todos os consentimentos ativos do usuário autenticado, com tipo,
        versão, data de concessão e IP de origem.
        Permite ao titular verificar quais consentimentos estão ativos — transparência
        exigida pelo Art. 18, IX da LGPD.
      responses:
        '200':
          description: Lista de consentimentos ativos
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ConsentListResponse' }
        '401':
          description: Não autenticado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

    put:
      tags: [User]
      summary: Registrar consentimento com a política de privacidade (LGPD Art. 8)
      description: |
        Registra que o usuário autenticado consentiu com a versão especificada da política de privacidade.
        Opcionalmente registra consentimento para tipos adicionais (shop_publication, transactional_emails).
        Gera entrada de auditoria com IP, versão, tipo de consentimento e timestamp.
        Consentimentos repetidos para mesma versão e tipo são idempotentes (200).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ConsentRequest' }
      responses:
        '200':
          description: Consentimento registrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ConsentResponse' }
        '401':
          description: Não autenticado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

    delete:
      tags: [User]
      summary: Revogar consentimento (LGPD Art. 8, §5)
      description: |
        Revoga o consentimento do usuário autenticado para o tipo especificado.
        A revogação deve ser tão fácil quanto a concessão (LGPD Art. 8, §5).

        Efeitos em cascata por tipo de consentimento:
        - `privacy_policy`: campo `consentiu_privacy_policy` = false. Bloqueia operações que dependem de consentimento LGPD.
        - `shop_publication`: despublica a vitrine do usuário se for o último consentimento de vitrine ativo.
        - `transactional_emails`: interrompe envio de emails transacionais para o titular.

        A revogação não apaga dados já processados sob consentimento anterior (Art. 8, §5:
        não compromete a licitude do tratamento anterior). Para exclusão, use `DELETE /user/me`.
        Uma entrada de auditoria é gerada com `action = consent_revoked`.
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ConsentRevokeRequest' }
      responses:
        '200':
          description: Consentimento revogado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ConsentRevokedResponse' }
        '401':
          description: Não autenticado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          description: Tipo de consentimento não encontrado ou já revogado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  # ── Privacy (LGPD) ────────────────────────────────────────────────────────
  /privacy/request:
    post:
      tags: [Privacy]
      summary: Solicitação de direitos do titular (LGPD Arts. 18, 41)
      description: |
        Canal público para titulares de dados exercerem seus direitos previstos
        no Art. 18 da LGPD. A solicitação é registrada com tracking de status
        e notifica automaticamente o DPO via email.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PrivacyRequest' }
      responses:
        '201':
          description: Solicitação registrada com sucesso
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PrivacyRequestResponse' }
        '422':
          description: Dados inválidos (tipo inválido, descrição muito curta)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  # ── Companies ────────────────────────────────────────────────────────────────
  /companies/:
    get:
      tags: [Companies]
      summary: Listar empresas do usuário
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Lista paginada de empresas
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaginatedCompany' }

    post:
      tags: [Companies]
      summary: Criar empresa (admin only)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CompanyCreate' }
      responses:
        '201':
          description: Empresa criada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Company' }
        '409':
          description: Slug já em uso
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /companies/{company_id}/members:
    get:
      tags: [Companies]
      summary: Listar membros da empresa
      parameters:
        - name: company_id
          in: path
          required: true
          schema: { type: integer }
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Lista paginada de membros
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaginatedMember' }
        '403':
          description: Sem acesso
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /companies/{company_id}/members/{usuario_id}:
    delete:
      tags: [Companies]
      summary: Remover membro da empresa
      parameters:
        - name: company_id
          in: path
          required: true
          schema: { type: integer }
        - name: usuario_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '204':
          description: Membro removido
        '403':
          description: Sem permissão
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          description: Membro não encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /companies/{company_id}/invitations:
    post:
      tags: [Companies]
      summary: Convidar membro
      parameters:
        - name: company_id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/InvitationCreate' }
      responses:
        '201':
          description: Convite enviado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Invitation' }
        '409':
          description: Usuário já é membro
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

    get:
      tags: [Companies]
      summary: Listar convites da empresa
      parameters:
        - name: company_id
          in: path
          required: true
          schema: { type: integer }
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Lista paginada de convites
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaginatedInvitation' }

  /companies/{company_id}/invitations/{invitation_id}:
    delete:
      tags: [Companies]
      summary: Revogar convite pendente
      parameters:
        - name: company_id
          in: path
          required: true
          schema: { type: integer }
        - name: invitation_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '204':
          description: Convite revogado
        '404':
          description: Convite não encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /companies/invitations/preview/{token}:
    get:
      tags: [Companies]
      summary: Preview do convite (público, sem auth)
      security: []
      parameters:
        - name: token
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Dados do convite
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InvitationPreview' }
        '404':
          description: Convite inválido ou revogado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /companies/invitations/{token}/accept:
    post:
      tags: [Companies]
      summary: Aceitar convite
      parameters:
        - name: token
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Convite aceito
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Member' }
        '404':
          description: Convite inválido
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          description: Usuário já é membro
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  # ── Campaigns ────────────────────────────────────────────────────────────────
  /campaigns/:
    get:
      tags: [Campaigns]
      summary: Listar campanhas (filtrado por role)
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Lista paginada de campanhas
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaginatedCampaignSummary' }

    post:
      tags: [Campaigns]
      summary: Criar campanha (admin only)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CampaignCreate' }
      responses:
        '201':
          description: Campanha criada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Campaign' }
        '404':
          description: Influenciador não encontrado na plataforma
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '403':
          description: Sem permissão
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /campaigns/{campaign_id}:
    get:
      tags: [Campaigns]
      summary: Detalhe da campanha
      parameters:
        - name: campaign_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Campanha
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Campaign' }
        '403':
          description: Sem acesso
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          description: Não encontrada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

    delete:
      tags: [Campaigns]
      summary: Encerrar campanha (admin) ou sair da campanha (influenciador)
      parameters:
        - name: campaign_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Campanha encerrada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Campaign' }
        '422':
          description: Campanha já encerrada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /campaigns/{campaign_id}/accept:
    post:
      tags: [Campaigns]
      summary: Aceitar convite de campanha (influenciador)
      parameters:
        - name: campaign_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Campanha aceita; QRCode gerado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Campaign' }
        '422':
          description: Campanha não está aguardando aceite
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /campaigns/{campaign_id}/decline:
    post:
      tags: [Campaigns]
      summary: Recusar convite de campanha (influenciador)
      parameters:
        - name: campaign_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Campanha recusada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Campaign' }
        '422':
          description: Campanha não está aguardando aceite
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /campaigns/{campaign_id}/qrcode:
    get:
      tags: [Campaigns]
      summary: Download do QRCode em PNG (influenciador)
      parameters:
        - name: campaign_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Imagem PNG do QRCode
          content:
            image/png:
              schema: { type: string, format: binary }
        '403':
          description: Sem acesso ou campanha não ativa
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /campaigns/{campaign_id}/card.pdf:
    get:
      tags: [Campaigns]
      summary: Download do cartão PDF com QRCode (influenciador)
      parameters:
        - name: campaign_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: PDF do cartão de divulgação
          content:
            application/pdf:
              schema: { type: string, format: binary }
        '403':
          description: Sem acesso ou campanha não ativa
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /campaigns/{campaign_id}/conversions:
    get:
      tags: [Campaigns]
      summary: Listar conversões de uma campanha
      parameters:
        - name: campaign_id
          in: path
          required: true
          schema: { type: integer }
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Lista paginada de conversões
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaginatedConversion' }
        '403':
          description: Sem acesso
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  # ── Conversions ───────────────────────────────────────────────────────────────
  /conversions/validate:
    post:
      tags: [Conversions]
      summary: Validar QRCode e registrar conversão (vendedor)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ConversionValidateRequest' }
      responses:
        '201':
          description: Conversão registrada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Conversion' }
        '404':
          description: QRCode não encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          description: QRCode inativo ou campanha não ativa
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /conversions/:
    get:
      tags: [Conversions]
      summary: Listar conversões (filtrado por role)
      parameters:
        - name: campaign_id
          in: query
          required: false
          schema: { type: integer }
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Lista paginada de conversões
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaginatedConversion' }

  # ── Redemptions (Resgates) ────────────────────────────────────────────────────
  /redemptions/balance:
    get:
      tags: [Redemptions]
      summary: Saldo disponível do influenciador (R$ e pontos)
      responses:
        '200':
          description: Saldo atual
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RedemptionBalance' }
        '403':
          description: Apenas influenciador pode acessar
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /redemptions/tokens:
    post:
      tags: [Redemptions]
      summary: Gerar código OTP de resgate (influenciador)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RedemptionTokenCreate' }
      responses:
        '201':
          description: Token de resgate criado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RedemptionToken' }
        '403':
          description: Apenas influenciador pode gerar código de resgate
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          description: Saldo insuficiente, valor ≤ 0, ou tipo inválido
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /redemptions/tokens/active:
    get:
      tags: [Redemptions]
      summary: Token de resgate ativo do influenciador autenticado
      responses:
        '200':
          description: Token ativo
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RedemptionToken' }
        '404':
          description: Nenhum token ativo
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /redemptions/tokens/{token_id}:
    delete:
      tags: [Redemptions]
      summary: Cancelar token de resgate pendente (influenciador)
      parameters:
        - name: token_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Token cancelado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RedemptionToken' }
        '403':
          description: Token pertence a outro influenciador
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          description: Token não encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          description: Token já expirado ou usado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /redemptions/preview:
    get:
      tags: [Redemptions]
      summary: Visualizar resgate antes da confirmação (vendedor)
      parameters:
        - name: code
          in: query
          required: true
          schema:
            type: string
            minLength: 6
            maxLength: 6
            pattern: '^\d{6}$'
      responses:
        '200':
          description: Dados do resgate
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RedemptionPreview' }
        '404':
          description: Código inválido
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          description: Código expirado ou já utilizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /redemptions/validate:
    post:
      tags: [Redemptions]
      summary: Confirmar resgate e debitar saldo (vendedor)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RedemptionValidateRequest' }
      responses:
        '201':
          description: Resgate registrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Redemption' }
        '403':
          description: Vendedor = Influenciador, ou empresa diferente
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          description: Código não encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          description: Código expirado, já usado, ou saldo insuficiente (race)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /redemptions/:
    get:
      tags: [Redemptions]
      summary: Listar resgates (filtrado por role)
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Lista paginada de resgates
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaginatedRedemption' }

  /redemptions/company:
    get:
      tags: [Redemptions]
      summary: Listar todos os resgates da empresa (admin)
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Lista paginada de resgates da empresa
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaginatedRedemption' }
        '403':
          description: Apenas admin da empresa
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /redemptions/{redemption_id}:
    get:
      tags: [Redemptions]
      summary: Detalhe de um resgate específico
      parameters:
        - name: redemption_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Resgate
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Redemption' }
        '403':
          description: Resgate de outro usuário
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          description: Resgate não encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  # ── Shop (Vitrine) ───────────────────────────────────────────────────────────────
  /shop/mine:
    get:
      tags: [Shop]
      summary: Vitrine do admin autenticado
      description: Retorna dados completos da vitrine (shop), incluindo URLs publicas de midia.
      responses:
        '200':
          description: Vitrine do admin
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Shop' }
        '401':
          description: Nao autenticado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '403':
          description: Apenas admin pode gerenciar a vitrine
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          description: Vitrine nao criada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /shop/{handle}/deploy:
    post:
      tags: [Shop]
      summary: Publicar vitrine como site estatico (LGPD Arts. 7, I; 9; 20)
      description: |
        Gera e publica o site estatico da vitrine em Cloudflare R2, tornando os dados
        da empresa publicamente acessiveis e indexaveis em `{SHOP_BASE_URL}/{handle}/`.

        **Requisitos de privacidade (LGPD):**
        - Antes do deploy, o admin deve confirmar que esta ciente da exposicao publica
        - O consentimento e registrado com timestamp, versao da politica e IP
        - O site estatico gerado DEVE incluir:
          - Link para a politica de privacidade do IndiQR
          - Informacao de que a pagina e operada pela empresa-cliente via IndiQR (relacao controlador/operador)
          - Contato do DPO: `privacidade@indiqr.lealcyber.com`
          - Aviso sobre ausencia de cookies de rastreamento

        **Dados expostos publicamente:**
        - Nome da empresa, tagline
        - URLs de Instagram e WhatsApp
        - Email de contato da vitrine
        - Nomes, descricoes e precos (em pontos) dos produtos
        - Imagens de logo, hero, categorias e produtos
      parameters:
        - name: handle
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ShopDeployRequest' }
      responses:
        '201':
          description: Site publicado com sucesso
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ShopDeployResponse' }
        '401':
          description: Nao autenticado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '403':
          description: Apenas admin da empresa pode publicar a vitrine
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          description: Vitrine nao encontrada para este handle
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          description: Admin nao confirmou publicacao ou versao da politica invalida
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
